body {
  text-align : center;
  margin: 0px;
}
canvas {
  display : block;
  width : 100vw;
  height : 100vh;
  margin : auto;
  padding : 0;
  border : none;
  background-color : black;
}
button {
  display : inline-block;
  font-size : inherit;
  margin : auto;
  padding : 0.6em;
}